* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #c7acac;  
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 1000;
    transition: 0.5s ease-in-out;
}

header.ativo {
    background-color: #292929;
    transition: .5s;
}

.titulo_nome {
    margin: 1.5rem;
    font-size: 2rem;
}

.navegacao {
    display: flex;
    justify-content: right;
    margin-right: 80px;
    padding: 8px;
}

.navegacao a {
    display: inline-flex;
    height: 40px;
    margin: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    color: #dbc5c5;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    transition: .5s;
}

.navegacao a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #a10fc5;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navegacao a:hover {
    color: #a10fc5;
    transition: .5s;
}

.navegacao a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.bloco__inicio {
    min-height: 90vh;
    padding: 20rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2em;
    position: relative;
    box-sizing: none;
    text-align: center;
}

.bloco__inicio span {
    text-transform: uppercase;
}

.botao_curriculo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 2rem;
    background-color: rgb(46, 16, 101);
    margin-top: 2.5rem;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
    transition: .5s ease;
}

.botao_curriculo:hover {
    transform: scale(1.1);
    color: #292929;
    background: #c7acac;
}


a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.bloco__inicio svg {
    color: #514869;
    height: 2rem;
}


.bloco__sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo_sobre {
    display: flex;
    font-size: 3em;
    justify-content: center;
}

.texto_sobre {
    margin-top: 1.3rem;
    font-size: 1.2em;
    margin-left: 3rem;
    margin-right: 2rem;
    text-align: justify;
}

.img__sobre {
    display: flex;
    height: 60vh;
    margin: 2rem;
    border-radius: 10px;
}

.pato {
    display: flex;
    height: 60vh;
    margin: 2rem;
    border-radius: 10px; 
}

.hidden_sobre {
    display: none;
}

.bloco__projetos {
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    padding: 0rem 5rem;
}

.titulo_projetos {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 3em;
}

.texto_projetos {
    font-size: 1.5em;
    margin-bottom: 2rem;
}

/* slides */
.projetos__andrei {
    margin: 0 auto;
    width: 50rem;
    height: 30rem;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 30em;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 1s;
    cursor: pointer;
}

.slide img, video{
    width: 48rem;
    border-radius: 20px;
}

.manual-navigation {
    position: absolute;
    width: 50rem;
    margin-top: -3rem;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) { /* menos no ultimo item */
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

/* aqui onde está trabalhando o passar dos slides */
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}
#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #c7acac;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 50rem;
    margin-top: 27rem;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 2.5rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #000;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}

/* fim slides */



.bloco__projetos .container {
    display: none;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: #9616b6;
}   

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #c7acac;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px;
    background: #292929;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .badge.slider1 {
    color: #ccc;
    background: #9616b6;
}

.card-list .card-link .badge.slider2 {
    color: #fff;
}

.card-list .card-link .badge.slider3 {
    color: #b81414;
    background: #251515;
}

.card-list .card-link .badge.slider4 {
    color: #fff;
    background: #11630a;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 30px 0 5px;
    cursor: pointer;
    border: 2px solid #514869;
    transform: rotate(-45deg);
    transition: 0.2s ease;
}

.card-list .card-link:hover .card-button {
    color: #fff;
    background: #9616b6;
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #9616b6;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swiper-slide-button {
    color: #9616b6;
    margin-top: -35px;
}


/* botoes projetos */

.projetos-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.projetos-btn .btn {
    display: flex;
    justify-content: space-between;
}

.projetos-btn .btn a {
    background: rgb(46, 16, 101);
    display: flex;
    padding: 1.5rem;
    margin: 2rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    transition: .5s;
    box-shadow: 10px 10px 10px #292929;

}

.projetos-btn .btn a:hover {
    transform: scale(1.1);
    background: #c7acac;
    color: #292929;
}
/* fim botoes projetos */




/* Bloco habilidades */

.bloco__habilidades {
    min-height: 90vh;
}

.titulo_bloco_habilidades {
    font-size: 3rem;
    margin: 2rem;
    text-align: center;
}

.flashcard_habilidades h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.container-habilidades {
    border: 1.5px solid #fff;
    padding: 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    margin: 2rem;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.flashcards_container {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}

.flashcards_inputs {
    background-color: #292929; /* opcional, pra ficar visível */
    padding: 10px;
    border-radius: 5px;
    min-width: 150px; /* largura mínima */
    flex: 1 1 30%; /* permite que os itens se ajustem */
    box-sizing: border-box;
    transition: .5s;
}

.flashcards_inputs:hover {
    color: #292929;
    background: #c7acac;
}

.formacoes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}

.container-habilidades,
.formacoes {
    width: 48%;
}

.habilidades_formacoes {
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    align-items: flex-start;
}

.profissional {
    margin-bottom: 1.5rem;
}

.profissional p, li{
    font-size: 1.3rem;
}

span {
    color: #9616b6;
}

.academico a{
    font-size: 1rem;
    background: rgb(46, 16, 101);
    padding: 15px;
    border-radius: 10px;
    transition: .5s;
}

.academico p {
    font-size: 1.3rem;
}

.academico a:hover {
    background: #c7acac;
    color: #292929;
}



/* Fim bloco habilidades */

.bloco__contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_contato {
    font-size: 3em;
}

.text-and-contact {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
  }
  
  .text-and-contact .text {
    flex: 1;
    min-width: 300px;
    max-width: 45%;
    font-size: 1.3rem;
    line-height: 1.6;
}
  
  .text-and-contact .contact {
    flex: 1;
    min-width: 300px;
    max-width: 40%;
    margin: 2rem 5rem;
  }

  .flashcard {
    background-color: #030927;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px #292929;
  }

  .flashcard h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .textfield {
    margin-bottom: 15px;
  }
  
  .textfield label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .textfield input,
  .textfield textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #ccc;
  }

  .button-div {
    display: flex;
    justify-content: center;
  }
  
  .btn-login {
    background-color: rgb(46, 16, 101);
    color: white;
    padding: 15px 35px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease;
  }
  
  .btn-login:hover {
    background-color: #c7acac;
    color: #292929;
  }
  
  .icons-contato a {
    margin-right: 1.5rem;
    font-size: 3rem;
    color: #c7acac;
    transition: .5s;
  }
  
  .icons-contato a:hover {
    color: #9616b6;
  }

  .message {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
}

.loading {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    display: none;
}
  
    

footer {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #030927;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.bloco__inicio, .bloco__sobre, .bloco__projetos, .bloco__habilidades, .bloco__contato, .flashcard {
    
}

@media (max-width: 468px) {
    .bloco__inicio, .bloco__sobre, .bloco__projetos, .bloco__habilidades, .bloco__contato {
        padding: 0rem 1.2rem;
    }

    .titulo_nome {
        font-size: 1.5rem;
    }

    .bloco__inicio {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        min-height: 100vh;
    }

    .texto_inicio {
        font-size: 1.2rem;
    }

    .titulo_inicio {
        font-size: 2rem;
        margin-top: 5rem;
    }

    .bloco__sobre {
        font-size: 10px;
    }

    .titulo-texto p {
        margin: 0px;
        padding-bottom: 15px;
        font-size: 15px;
    }

    .titulo_sobre {
        font-size: 3rem;
        margin-bottom: 15px;
    }

    .bloco__projetos {
        margin-top: 5rem;
        min-height: 100vh;
    }

    .titulo_projetos {
        font-size: 2rem;
    }

    .texto_projetos {
        font-size: 1.2rem;
    }

    .botao_curriculo {
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }

    .projetos-btn {
        padding-top: 0;
        padding-bottom: 0;
    }

    .projetos-btn .btn {
        flex-direction: column;
    }

    .projetos-btn .btn a{
        font-size: 1rem;
        margin: 1.2rem;
    }

    .titulo_bloco_habilidades {
        font-size: 2.5rem;
        margin-bottom: 0;
        margin-top: 0;
    }

    .habilidades_formacoes {
        flex-direction: column;
    }

    .bloco__habilidades {
        margin-top: 6rem;
        padding: 0;
        min-height: 100vh;
        margin-bottom: 5rem;
    }

    .container-habilidades, .formacoes {
        width: auto;
        padding: 10px;
    }

    .flashcard_habilidades h2 {
        font-size: 1.5rem;
    }

    .flashcards_inputs {
        font-size: .8rem;
        min-width: 100px;
    }

    .formacoes {
        margin: 0;
        padding: 20px;
    }

    .formacoes p, .formacoes li {
        font-size: 1rem;
        text-align: center;
        list-style: none;
    }

    .formacoes li {
        padding-bottom: 10px;
    }


    .titulo_formacoes {
        font-size: 1.5rem;
        text-align: center;
    }

    .academico {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .academico h2 {
        text-align: center;
    }


    .bloco__contato {
        min-height: 100vh;
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }

    .text-and-contact {
        padding: 15px;
    }

    .text-and-contact .text {
        max-width: 100%;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 1rem;
    }

    .icons-contato a:last-child{
        margin-right: 0;
    }

    .text-and-contact .contact {
        max-width: 100%;
        margin: 0;
    }

    .flashcard {
        max-width: 100%;
        padding: 15px;
    }
}

@media screen and (min-width: 469px) and (max-width: 767px) {
    .titulo_nome {
        font-size: 1.7rem;
    }

    .bloco__inicio {
        font-size: 1.5rem;
        min-height: 100vh;
        padding: 0 3rem;
    }

    .titulo_inicio {
        font-size: 2.2rem;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    .texto_inicio {
        font-size: 1.5rem;
    }

    .bloco__sobre {
        font-size: 10px;
        padding: 5%;
    }

    .titulo-texto p {
        margin: 0px;
        padding-bottom: 15px;
        font-size: 1.2rem;
    }

    .titulo_sobre {
        font-size: 3rem;
        margin-bottom: 15px;
    }

    .bloco__projetos {
        margin-top: 5rem;
        min-height: 100vh;
        padding: 0 7%;
    }

    .titulo_projetos {
        font-size: 2.5rem;
    }

    .texto_projetos {
        font-size: 1.2rem;
    }

    .botao_curriculo {
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }

    .projetos-btn {
        padding-top: 0;
        padding-bottom: 0;
    }

    .projetos-btn .btn {
        flex-direction: column;
    }

    .projetos-btn .btn a{
        font-size: 1rem;
        margin: 1.2rem;
    }

    .titulo_bloco_habilidades {
        font-size: 2.5rem;
        margin-bottom: 0;
        margin-top: 0;
    }

    .habilidades_formacoes {
        flex-direction: column;
    }

    .bloco__habilidades {
        margin-top: 6rem;
        padding: 0;
        min-height: 100vh;
        margin-bottom: 5rem;
    }

    .container-habilidades, .formacoes {
        width: auto;
        padding: 10px;
    }

    .flashcard_habilidades h2 {
        font-size: 1.5rem;
    }

    .flashcards_inputs {
        font-size: .8rem;
        min-width: 100px;
    }

    .formacoes {
        margin: 0;
        padding: 20px;
    }

    .formacoes p, .formacoes li {
        font-size: 1rem;
        text-align: center;
        list-style: none;
    }

    .formacoes li {
        padding-bottom: 10px;
    }


    .titulo_formacoes {
        font-size: 1.5rem;
        text-align: center;
    }

    .academico {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .academico h2 {
        text-align: center;
    }


    .bloco__contato {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }

    .text-and-contact {
        padding: 20px;
        flex-direction: column;
    }

    .text-and-contact .text {
        max-width: 100%;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 1rem;
    }

    .icons-contato a:last-child{
        margin-right: 0;
    }

    .text-and-contact .contact {
        max-width: 100%;
        margin: 0;
    }

    .flashcard {
        max-width: 100%;
        padding: 15px;
    }
}

@media screen and (max-width: 800px) {

    .slides, .manual-navigation, .projetos__andrei {
        display: none;
    }

    .navegacao {
        display: none;
    }

    .bloco__projetos .container {
        display: block;
        margin-bottom: 1.3rem;
    }

    .card-wrapper {
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }

}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .titulo_nome {
        font-size: 2.3rem;
    }

    .bloco__inicio {
        min-height: 100vh;
        padding: 0 10%;
    }

    .titulo_inicio {
        font-size: clamp(3rem, 5vw, 3rem);
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .texto_inicio {
        font-size: 2rem;
    }

    .botao_curriculo {
        font-size: 2.5rem;
        padding: 1.5rem 2.5rem;
    }

    .bloco__sobre {
        min-height: 50vh;
        font-size: 1rem;
        padding: 5%;
    }

    .titulo-texto p {
        margin: 0px;
        padding-bottom: 15px;
        font-size: 1.7rem;
    }

    .titulo_sobre {
        font-size: 5rem;
        margin-bottom: 15px;
    }

    .bloco__projetos {
        margin-top: 5rem;
        min-height: 95vh;
        padding: 0 7%;
    }

    .titulo_projetos {
        font-size: 4.5rem;
    }

    .texto_projetos {
        font-size: 1.7rem;
    }

    .projetos-btn {
        padding-top: 0;
        padding-bottom: 0;
    }

    .projetos-btn .btn {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .projetos-btn h2 {
        font-size: 2rem;
    }

    .projetos-btn .btn a{
        font-size: 1.8rem;
    }

    .bloco__habilidades {
        margin-top: 6rem;
        padding: 0;
        min-height: 78vh;
        margin-bottom: 5rem;
    }

    .titulo_bloco_habilidades {
        font-size: 3rem;
        margin-bottom: 0;
        margin-top: 0;
    }

    .habilidades_formacoes {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .container-habilidades, .formacoes {
        width: auto;
        padding: 10px;
    }

    .flashcard_habilidades h2 {
        font-size: 2rem;
    }

    .flashcards_inputs {
        font-size: 1.5rem;
        min-width: 100px;
    }

    .formacoes {
        margin: 0;
        padding: 20px;
        align-items: center;
        text-align: center;
    }

    .formacoes p, .formacoes li {
        font-size: 1.5rem;
        text-align: center;
        list-style: none;
    }

    .formacoes li {
        padding-bottom: 10px;
    }


    .titulo_formacoes {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .academico {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .academico h2 {
        text-align: center;
        font-size: 2.7rem;
    }

    .academico a {
        font-size: 1.7rem;
    }


    .bloco__contato {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }

    .titulo_contato {
        font-size: 4rem;
    }

    .text-and-contact {
        padding: 20px;
        flex-direction: column;
    }

    .text-and-contact .text {
        max-width: 100%;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 1rem;
    }

    .icons-contato a:last-child{
        margin-right: 0;
    }

    .text-and-contact .contact {
        max-width: 100%;
        margin: 0;
    }

    .flashcard {
        max-width: 100%;
        padding: 15px;
    }
}

@media (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    .img__sobre, .pato {
        display: none;
    }

    .hidden_sobre {
        display: flex;
        margin: 20px auto;
        height: 250px;
        width: 250px;
        justify-content: center;
        border: 5px solid #514869;
        border-radius: 50%;
    }

    .hidden_sobre img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}





